In [1]:
import pandas as pd
import numpy as np

In [3]:
airfoil_data = [0.8462044579227466, 0.7930146333485782, 0.830191487553603, 0.7787298143393662, 0.7871321908128468, 
0.8235621508182261, 0.7992535935897422, 0.8061202242951124, 0.7972173429705061, 0.8095155988996928]
airfoil_std = np.std(airfoil_data)
airfoil_mean = np.mean(airfoil_data)
print(airfoil_std, airfoil_mean)

0.019751921344505503 0.8070941494550421

In [27]:
def calculate_result(name, data, baseline):
    std = np.std(data)
    mean = np.mean(data)
    result = ''
    if mean > baseline:
        result = 'WIN'
    else:
        result = 'FAIL'
    print(f'{name}: std({std})  mean({mean}) baseline({baseline}) W or F ({result})')

In [29]:
data_list = {
'german_data_data' : [0.7251754385964913, 0.7362857142857142, 0.7705427631578948, 0.7808245269490943, 0.7974801441740295, 
0.7286231180184555, 0.7612152777777778, 0.6937214137214137, 0.7499999999999999, 0.7731892325244364, 0.805000],

'HIGGS_subset_data' : [0.7333099679537445, 0.7178172179441535, 0.7342075006430718, 0.7398381512768195, 0.7321660416666667, 
0.7326100610506949, 0.7196170491957893, 0.7234206549657771, 0.730258925156549, 0.7318359569369609, 0.731000],

'ionosphere_data' : [0.9021227096945353, 0.9287588360736928, 0.9154929577464789, 0.9576429374696207, 0.9723014198551633, 
0.9160975956750605, 0.9284418718357177, 0.9129083008690441, 0.9715120432741375, 0.9153244827818586, 0.969000],

'sonar_data' : [0.7382437943980769, 0.951530612244898, 0.8598319327731092, 0.8082251082251082, 0.6627257799671594, 
0.7391642371234207, 0.7776928953399543, 0.8324786324786324, 0.8086520649449711, 0.8803418803418804, 0.839000],

'SPECTF_data' : [0.7336519315013939, 0.8428458853990769, 0.8978250870622249, 0.7472993827160495, 0.8821344140493076, 
0.8594982078853047, 0.684407096171802, 0.8366013071895424, 0.8888888888888888, 0.8365539452495974, 0.876000],

'airfoil_data' : [0.8462044579227466, 0.7930146333485782, 0.830191487553603, 0.7787298143393662, 0.7871321908128468, 
0.8235621508182261, 0.7992535935897422, 0.8061202242951124, 0.7972173429705061, 0.8095155988996928, 0.796000],
'spambase_data' : [0.9629899504787106, 0.9532041969535648, 0.9401477213356731, 0.9598506536113932, 0.9455761065983331, 
0.9521186783223459, 0.9641776677125006, 0.9576187078758396, 0.9480783344538539, 0.9510687203434978, 0.948000]
}

In [30]:
for key, value in data_list.items():
    calculate_result(key[:-5], value[:10], value[10])

german_data: std(0.02947802265786623)  mean(0.7517057629205308) baseline(0.805) W or F (FAIL)
HIGGS_subset: std(0.00661426182271123)  mean(0.7295081526790227) baseline(0.731) W or F (FAIL)
ionosphere: std(0.02434477874531263)  mean(0.9320603155275309) baseline(0.969) W or F (FAIL)
sonar: std(0.07791241672457243)  mean(0.805888693783721) baseline(0.839) W or F (FAIL)
SPECTF: std(0.06957885550626669)  mean(0.8209706146113188) baseline(0.876) W or F (FAIL)
airfoil: std(0.019751921344505503)  mean(0.8070941494550421) baseline(0.796) W or F (WIN)
spambase: std(0.007346672702692712)  mean(0.9534830737685713) baseline(0.948) W or F (WIN)

In [10]:
record = {
  "Name": ["Tom", "Jack", "Lucy",
           "Bob", "Jerry", "Alice",
           "Thomas", "Barbie"],
    
   "Marks": [9, 19, 20, 
             17, 11, 18,
             5, 8], 
    
  "Status": ["Fail", "Pass", "Pass",
             "Pass","Pass", "Pass",
             "Fail", "Fail"]}
  
# converting record into
# pandas dataframe
df = pd.DataFrame(record)
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    8 non-null      object
 1   Marks   8 non-null      int64
 2   Status  8 non-null      object
dtypes: int64(1), object(2)
memory usage: 320.0+ bytes
None

In [11]:
df.loc[:, ~df.columns.isin(["Name", "Status"])] = df.loc[:, ~df.columns.isin(["Name", "Status"])].astype(str)
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    8 non-null      object
 1   Marks   8 non-null      object
 2   Status  8 non-null      object
dtypes: object(3)
memory usage: 320.0+ bytes
None

In [12]:
df.iloc[:len(df.index.tolist())]

     Name  Marks Status
0     Tom      9   Fail
1    Jack     19   Pass
2    Lucy     20   Pass
3     Bob     17   Pass
4   Jerry     11   Pass
5   Alice     18   Pass
6  Thomas      5   Fail
7  Barbie      8   Fail

In [13]:
df.iloc[len(df.index.tolist()):]

Empty DataFrame
Columns: [Name, Marks, Status]
Index: []

In [9]:
df.iloc[df.index]

     Name  Marks Status
0     Tom      9   Fail
1    Jack     19   Pass
2    Lucy     20   Pass
3     Bob     17   Pass
4   Jerry     11   Pass
5   Alice     18   Pass
6  Thomas      5   Fail
7  Barbie      8   Fail

In [13]:
for o in dic.values():
    print(o)

[1, 2]
['1', '2']

In [16]:
[o for o in dic] + [-1e100, 1e100]

['a', 'b', -1e+100, 1e+100]

In [ ]:
[o for o in dic.values()] + [-1e100, 1e100]

In [2]:
[-1e100, 1e100] + [1]

[-1e+100, 1e+100, 1]

In [49]:
d = {'a': 1, 'b': 2, 'c': 3}

In [65]:
pan = pd.DataFrame(data = np.array([[1], [1], [0], [1], [0]]), columns = ['a'])
pan

   a
0  1
1  1
2  0
3  1
4  0

In [56]:
pan['a']

0    1
1    2
2    3
Name: a, dtype: int64

In [66]:
ser = pd.Series([1, 2, 3, 4, 5])
ser

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [39]:
ser.shape

(3,)

In [67]:
pd.crosstab(pan['a'], ser)

col_0  1  2  3  4  5
a
0      0  0  1  0  1
1      1  1  0  1  0

In [55]:
pd.crosstab(pan['a'], pan['a'])

a  1  2  3
a
1  1  0  0
2  0  1  0
3  0  0  1

In [54]:
pd.crosstab(ser, ser)

col_0  1  2  3
row_0
1      1  0  0
2      0  1  0
3      0  0  1

In [71]:
this = pd.qcut(range(5), 3)
this

[(-0.001, 1.333], (-0.001, 1.333], (1.333, 2.667], (2.667, 4.0], (2.667, 4.0]]
Categories (3, interval[float64, right]): [(-0.001, 1.333] < (1.333, 2.667] < (2.667, 4.0]]

In [72]:
pd.crosstab(pan['a'], this)

col_0  (-0.001, 1.333]  (1.333, 2.667]  (2.667, 4.0]
a
0                    0               1             1
1                    2               0             1

In [11]:
foo = np.array(["dull", "dull", "shiny", "dull", "dull", "shiny",
              "shiny", "dull", "shiny", "shiny", "shiny"],
             dtype=object)

In [17]:
this.shape

(5,)

In [13]:
pd.crosstab(this, this)

col_0   good  medium  bad
row_0
good       2       0    0
medium     0       1    0
bad        0       0    2

In [18]:
foo = pd.Categorical(['a', 'b'], 
                         categories=['a', 'b', 'c'])
  
bar = pd.Categorical(['d', 'e'], 
                         categories=['d', 'e', 'f'])
  
# form crosstab with dropna=True (default)
display(pd.crosstab(foo, bar))
  
# form crosstab with dropna=False
pd.crosstab(foo, bar, dropna=False)

col_0  d  e
row_0
a      1  0
b      0  1

col_0  d  e  f
row_0
a      1  0  0
b      0  1  0
c      0  0  0

In [ ]:
a = numpy.array(["foo", "foo", "foo", "foo",
                 "bar", "bar", "bar", "bar",
                 "foo", "foo", "foo"],
                dtype=object)
  
b = np.array(["one", "one", "one", "two",
                 "one", "one", "one", "two",
                 "two", "two", "one"],
                dtype=object)
  
c = np.array(["dull", "dull", "shiny",
                 "dull", "dull", "shiny",
                 "shiny", "dull", "shiny",
                 "shiny", "shiny"],
                dtype=object)
  
# form the cross tab
pd.crosstab(a, [b, c], rownames=['a'], colnames=['b', 'c'])

In [19]:
foo,

(['a', 'b']
 Categories (3, object): ['a', 'b', 'c'],
 ['d', 'e']
 Categories (3, object): ['d', 'e', 'f'])

In [5]:
from concurrent.futures import ProcessPoolExecutor
from time import sleep
def task(message):
   sleep(2)
   return message

def main():
   executor = ProcessPoolExecutor(5)
   future = executor.submit(task, ("Completed"))
   name, new_feature, mi_score = future.result()
   print(name)
   print(new_feature)
   print(mi_score)
   print(future.done())
   sleep(2)
   print(future.done())
   print(future.result())
if __name__ == '__main__':
    main()

ValueError: too many values to unpack (expected 3)